<%= render 'books/list', books: @books ,user: @user ,book: Book.new  %>
<div class="col-md-8 offset-md-1">
 <h2>Book detail</h2>
 <table class="table">
  <thead></thead>
    <tbody>
     <td><%= link_to user_path(@book.user.id) do %>
         <%= image_tag @book.user.get_profile_image(100, 100) %>
         <%= @book.user.name %>
         <% end %>
     </td>
     <td><%= @book.title %></td>
     <td><%= @book.body %></td>
     <td><%= link_to "Edit", edit_book_path(@book.id),class:"btn btn-sm btn-success" %></td>
     <td><% if @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn btn-sm btn-danger" %>
     </td>
      <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>











